*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
}
header{
    background-color:#FFFFFF ;
}
.parent-nav{
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}
.parent-nav ul{
    display: flex;
    gap: 32px;   
}
.parent-nav ul li{
    list-style: none;
}
.parent-nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 152%;
}
.btn{
    background-color: #30B868;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    background: #F95555;
}
.banner-section{
    background-image: url(./assets/hero-bg.png);
}
.banner-parent{
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding-top: 115px;
    padding-bottom: 179px;
}
.banner-child .first-p{
    background-color: #FFFFFF;
    color: #30B868;
    padding: 8px 12px;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    margin: 0 auto;
    cursor: pointer;
}
.banner-child h1{
    margin-top: 16px;
}
.banner-child h1 .first{
   color: #FFFFFF;
   font-size: 40px;
   word-spacing: 10px;
}
.banner-child h1 .last{
   color: #30B868;
   font-size: 40px;
}
.banner-child .last-p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
}
.banner-child .btn{
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 32px;
    cursor: pointer;
}
.banner-child img{
    vertical-align: middle;
    margin-left: 5px;
}
.banner-child .btn2{
    padding: 12px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background: transparent;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 16px;
}
.banner-child .btn2:hover{
   background: #FFFFFF;
   color: #000000;
}
.banner-child .btn:hover{
    background: #F95555;
}
.note-section{
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
}
.head-section h5{
    font-size: 30px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    margin-top: 30px;
    word-spacing: 5px;
}
.head-section .head-p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
    margin-top: 16px;
}
.card-parent{
    display: flex;
    gap: 24px;
    margin-top: 44px;
}
.card-child {
    text-align: center;
    padding: 24px 24px;
    background: #FFFFFF;
    box-shadow: 0 0 8px 0 #ece0e0;
    border-radius: 8px;
}
.card-child img{
    background: #F95555;
    color: #FFFFFF;
    border: 15px solid #F95555;
    border-radius: 50%;
}
.card-child h4{
    font-size: 20px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
}
.card-child .card-p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
.main-brain{
    background: #f7f4f4;
    margin-top: 120px;
}
.parent-div{
     width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    }
.child-div img{
     width: 450px;
     height: 450px;
     margin-top: 120px;
     margin-bottom: 120px;
     
}
.child-div h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
    margin-bottom: 16px;
}
.child-div h3{
    font-size: 30px;
    font-weight: bold;
    color: #001931;
}
.child-div p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 40px;
}
.child-div ul li{
    list-style: none;
}
.child-div li i{
      color:  #30B868;
      margin-bottom: 16px;
}
.early-patent{
width: 75%;
max-width: 1140px;
margin: 0 auto;
text-align: center;
padding: 80px 40px;
background-color: #f0ebeb;
border-radius: 12px;
margin-bottom: 120px;
}
.early-child h3{
    font-size: 30px;
    font-weight: bold;
    color: #001931;
}
.early-child .first-early-p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-top: 16px;
}
.early-child .btn{
    margin-top: 24px;
}
.early-child img{
    vertical-align: middle;
    margin-left: 5px;
}
.early-child .last-early-p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
.main-footer{
    background-color: #001931;
}
.parent{
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.child a{
text-decoration: none;
font-size: 20px;
font-weight: 500;
line-height: 28px;
color: #FFFFFF;
margin-right: 107px;
}
.child i{
    color: #FFFFFF;
    margin-right: 16px;
    margin-top: 16px;
}
.hr-parent{
    width: 75%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}
.hr-parent hr{
    color:#E5E7EB;
    height: 1px;
}
.hr-parent p{
     padding-top: 30px;
     padding-bottom: 30px;
     font-size: 16px;
     line-height: 24px;
     color: #FAFAFA;
}
